body {
    background-color: rgb(250, 250, 250);
}

div {
    margin: 3em;
    width: 100%;
    height: 500px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    font-size: 15em;
    color: rgb(6, 5, 5)
}

button {
    font-size: 10em;
    width: 50%;
    height: 500px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color: "#55555";
    text-align: center;
    border-width: 18px;
}